.tran-container{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    .tran-title{
        margin-bottom: 20px;
        font-weight: 200;
        color: var(--textSoft);
       
    }
    .table{
        width: 100%;
        td{
            padding:10px;
           .tran-user{
            display:flex;
            gap:10px;
            align-items: center;
           } 
           .status{
            border-radius: 5px;
            padding:5px;
            font-size: 14px;
            color: white;
           }
           .pending{
            background-color: #2e374a;
           }
           .done{
            background-color: #afd6ee75;
           }
           .cancelled{
            background-color: #f7737375;
           }
        }
        .booking-status-confirmed {
            background-color: green;
            padding: 10px;
            border-radius: 15px;
            width:max-content; 
        }
        
        .booking-status-processing {
            background-color: orange; 
            padding: 10px;
            border-radius: 15px;
            width:max-content;
        }
        
        .booking-status-cancelled {
            background-color: red;
            padding: 10px;
            border-radius: 15px;
            width:max-content;
        }
        
        .booking-status-completed {
            background-color: blue; 
            padding: 10px;
            border-radius: 15px;
            width:max-content;
        }
    }
}