.product-container{
    .box-data-product{
        padding: 20px 40px;
        .newStyle.link-small{
            display:flex;
            margin: 20px;
            justify-content: center;
        }
        .borderFilterMobile.option.browse-tags{
            text-align: end;
        }
        .combo-new-container{
            .combo-new.row{
                margin:0;
                padding:0;
            }
        }
    }
   
}