.product-container{
    .banner-sale-thuong-thuong{
        width:100%;
        height:auto;
        object-fit: cover;
    }
    .box-data-product{
        .newStyle.link-small{
            .box-btn-product{
                display:flex;
                justify-content: center;
                margin: 20px 0 10px 0;
                .box-btn-product-setprice{
                    border: none;
                    padding: 10px 25px ;
                    margin: 0 3px;
                    &:hover{
                        color:white;
                        background-color: rgba(237,68,23,255);
                    }
                }
                .active{
                    color:white;
                    background-color: rgba(237,68,23,255);
                }
                

            }
            .box-btn-product-box2{
                display:flex;
                justify-content: center;
                margin: 20px 0 10px 0;
                .box-btn-product-item{
                    border: none;
                    padding: 10px 45px ;
                    margin: 0 3px;
                    &:hover{
                        color:white;
                        background-color: rgba(237,68,23,255);
                    }
                }
                .active{
                    color:white;
                    background-color: rgba(237,68,23,255);
                }
                

            }
            .content-combo{
                text-align: center;
                padding: 10px 0;
                .content-combo-highlight{
                    font-weight: bold;
                }
            }

        }
        .combo749-container{
            width:100%;
            .combo749.row{
                margin:0 auto;
                width:90%;
                
                .combo749-box.col-md-3.col-sm-3{
                    padding:20px;
                    .combo749-box-img{
                        width: 100%;
                        height:auto;
                        object-fit: cover;
                    }
                    .btn-product-color{
                        margin: 10px auto;
                        display:flex;
                        justify-content: center;
                        .btn-color1{
                        border: none;
                        background-color: black;
                        border-radius: 50%;
                        width: 30px;
                        height:30px;
                        margin:5px;
                        }
                        .btn-color2{
                            border: none;
                            background-color: rgb(252, 202, 169);
                            border-radius: 50%;
                            width: 30px;
                            height:30px;
                            margin:5px;
                            }
                            .btn-color3{
                                border: none;
                                background-color: rgb(122, 56, 26);
                                border-radius: 50%;
                                width: 30px;
                                height:30px;
                                margin:5px;
                                }
                    }
                    .name-product{
                        text-align: center;
                        padding:0;
                        margin:0;
                        color:rgb(99, 99, 99);
                    }
                    .price-product{
                        text-align: center;
                        padding:0;
                        margin:0;
                        color:black;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}