.cart-overlay {
    position: fixed;
    top: 0; 
    background-color: rgba(0, 0, 0, 0.521); /* Nền mờ với màu đen */
    display: flex; /* Sử dụng flexbox để căn giữa nội dung */
    flex-direction: column; /* Đặt hướng của flex là cột */
    justify-content: flex-start; /* Căn lề trên */
    align-items: flex-start; /* Căn lề trái */
    z-index: 1000; /* Đảm bảo overlay nằm trên các phần tử khác */
    padding: 5px; 
    width: 100%;
    height: 100%;
}

.cart-page {
    position: fixed; 
    top: 0;
    right: 0; /* Bắt đầu ở vị trí bình thường */
    width: 40vw;
    height: 100vh;
    background-color: white;
    transform: translateX(100%); /* Bắt đầu từ bên ngoài màn hình */
    transition: transform 10s ease; /* Thêm hiệu ứng chuyển động */
    padding:40px;
    .cart-overlay-box{
        margin: 10px 0;
        padding:10px 0;
        display:flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px dashed rgba(37, 37, 37, 0.938);
        .cart-overlay-box-item{
            margin: 10px 0;
            .cart-overlay-title{
                font-size: 20px;
                color:rgba(37, 37, 37, 0.938);
                margin: 0;
            }
            .cart-overlay-note{
                font-size: 16px;
                color:rgba(37, 37, 37, 0.938);
                margin: 0;
            }
        }
        .close-cart{
            width: fit-content;
            height:fit-content;
            border:none;
            background-color: rgba(255, 255, 255, 0);
            .img-close-cart{
                width:34px;
                height:34px;
            }
        }
    }
    .cart-box-data{
        margin: 10px 0;
        padding: 10px 0 15px 0;
        border-bottom: 1px solid black ;
        .cart-item-data{
            list-style: none;
            padding: 5px;
            margin:5px 0;
            .cart-item-btn-remove{
                border:none;

            }
        }
    }
    .cart-item-box{
        display:flex;
        justify-content: space-between;
        margin: 10px 0;
        font-weight: 500;
        font-size: 20px;
    }
    .view-cart-detail{
        width:100%;
        padding: 10px;
        margin:10px 0;
        border:none;
        color:white;
        background-color: black;
    }
}

.cart-page.open {
    transform: translateX(0); /* Khi mở, di chuyển vào màn hình */
}