@charset "UTF-8";
.bg-light {
  height: -moz-fit-content;
  height: fit-content;
}
.bg-light .free-ship {
  background-color: rgb(195, 42, 46);
}
.bg-light .free-ship .free-ship-content {
  text-align: center;
  color: rgb(230, 230, 230);
  padding: 8px 0;
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: 2px;
  margin: 0;
}
.bg-light .navbar.navbar-expand-lg.navbar-light {
  padding: 0;
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav {
  width: 99vw;
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav .box-nav.row {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  margin: 2px 0;
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav .box-nav.row .logo-container {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc (nếu cần) */
  height: 100%; /* Đảm bảo chiều cao đủ để căn giữa */
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav .box-nav.row .logo-container .navbar-brand .logo {
  width: 90px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav .box-nav.row .collapse.navbar-collapse.col-md-11 {
  justify-content: flex-end;
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav .box-nav.row .collapse.navbar-collapse.col-md-11 .navbar-nav.ml-auto {
  align-items: center;
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav .box-nav.row .collapse.navbar-collapse.col-md-11 .navbar-nav.ml-auto .nav-item {
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 500;
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav .box-nav.row .collapse.navbar-collapse.col-md-11 .navbar-nav.ml-auto .nav-item .nav-link .user-icon {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 5px;
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav .box-nav.row .collapse.navbar-collapse.col-md-11 .navbar-nav.ml-auto .nav-item a {
  padding: 20px 5px;
  margin: 0 15px;
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav .box-nav.row .collapse.navbar-collapse.col-md-11 .navbar-nav.ml-auto .nav-item a:hover {
  border-bottom: 1px solid black;
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav .box-nav.row .collapse.navbar-collapse.col-md-11 .navbar-nav.ml-auto .nav-item .hightlight {
  color: rgb(220, 60, 70);
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav .box-nav.row .collapse.navbar-collapse.col-md-11 .navbar-nav.ml-auto .nav-item .hightlight:hover {
  border-bottom: 1px solid rgb(220, 60, 70);
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav .box-nav.row .collapse.navbar-collapse.col-md-11 .navbar-nav.ml-auto .dropdown {
  /* Ẩn sub-menu mặc định */
  /* Xóa dấu chấm ở tất cả các ul con */
  /* Định dạng cho các li trong sub-menu */
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav .box-nav.row .collapse.navbar-collapse.col-md-11 .navbar-nav.ml-auto .dropdown:hover .sub-menu.megaMenu {
  display: block; /* Hiển thị sub-menu */
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav .box-nav.row .collapse.navbar-collapse.col-md-11 .navbar-nav.ml-auto .dropdown .sub-menu.megaMenu {
  display: none; /* Ẩn sub-menu mặc định */
  position: absolute; /* Định vị sub-menu */
  width: 1300px; /* Đảm bảo sub-menu rộng bằng nav-item */
  left: -500px; /* Căn lề trái */
  border-top: none;
  top: 100%; /* Đưa sub-menu xuống dưới nav-item */
  padding: 15px 0;
  background-color: rgb(247, 247, 247); /* Màu nền của sub-menu */
  z-index: 1000; /* Đặt z-index để đảm bảo sub-menu hiển thị trên các phần khác */
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav .box-nav.row .collapse.navbar-collapse.col-md-11 .navbar-nav.ml-auto .dropdown .sub-menu.megaMenu ul {
  list-style-type: none; /* Xóa dấu chấm */
  padding: 0; /* Xóa padding mặc định */
  margin: 0; /* Xóa margin mặc định */
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav .box-nav.row .collapse.navbar-collapse.col-md-11 .navbar-nav.ml-auto .dropdown .sub-menu.megaMenu .sub-menu-data {
  padding: 0 15px; /* Padding cho các mục con */
  color: #333; /* Màu chữ mặc định */
  width: 20%;
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav .box-nav.row .collapse.navbar-collapse.col-md-11 .navbar-nav.ml-auto .dropdown .sub-menu.megaMenu .sub-menu-data a {
  padding: 10px; /* Padding cho link trong sub-menu */
  display: block; /* Đảm bảo link chiếm toàn bộ chiều cao */
  text-decoration: none;
  color: #333;
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav .box-nav.row .collapse.navbar-collapse.col-md-11 .navbar-nav.ml-auto .dropdown .sub-menu.megaMenu .sub-menu-data a:hover {
  background-color: rgb(247, 247, 247); /* Màu nền khi hover */
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav .box-nav.row .collapse.navbar-collapse.col-md-11 .navbar-nav.ml-auto .dropdown .sub-menu.megaMenu .sub-menu-data ul li {
  list-style-type: none; /* Xóa dấu chấm */
  color: rgb(124, 124, 124);
  margin: 10px;
  padding: 0;
  text-transform: capitalize;
  font-weight: 400;
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav .box-nav.row .collapse.navbar-collapse.col-md-11 .navbar-nav.ml-auto .search-box-container {
  width: 120px;
  margin: 0 10px;
}
.bg-light .navbar.navbar-expand-lg.navbar-light .container-nav .box-nav.row .collapse.navbar-collapse.col-md-11 .navbar-nav.ml-auto .end-nav {
  display: flex;
}/*# sourceMappingURL=Header.css.map */