// src/components/common/SearchBar.scss

.searchFormHeader {
    position: relative;
    width: 100px;

    .searchHeader {
        .searchBox {
            display: flex;
            align-items: center;
            position: relative;

            // Input khi không hover
            .searchInput {
                width: 0; // Đặt độ rộng ban đầu là 0
                padding: 5px;
                border: none;
                //border-radius: 4px;
                transition: width 0.3s ease, padding 0.3s ease; // Hiệu ứng cho độ rộng và padding
                font-size: 80%;
                &:focus {
                    outline: none;
                    border-color: #2D2D2D; // Đổi màu viền khi focus
                }
            }

            // Hiển thị chữ "Tìm kiếm"
            .searchHint {
                margin-right: 10px;
                font-size: 80%;
                cursor: pointer;
                transition: opacity 0.3s ease;
                padding: 5px; // Thêm padding cho chữ "Tìm kiếm"
            }

            // Hiển thị nút tìm kiếm
            .btnSearch {
                cursor: pointer;
                display: flex;
                align-items: center;

                svg {
                    width: 15px;
                    height: 15px;
                    transition: fill 0.3s ease;
                }
            }

            // Hiệu ứng hover để hiện ô input
            &:hover {
                .searchInput {
                    width: 100px; 
                    padding: 5px; 
                    background-color: rgba(247, 247, 247, 0);
                    border-bottom: 1px solid rgba(141, 141, 141, 0.575);
                }

                .searchHint {
                    opacity: 0; 
                }
            }
        }
    }
}
